.menu {
    text-align: center;
    border: 2px solid cadetblue;

}

.menu a {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 1.2;
    color: brown;

    /* text-shadow: 0 0 6px rgb(3, 8, 14); */


}

.item {
    text-shadow: 0 0 6px cadetblue;
    transition: text-shadow 1s;

    /* background-color: blueviolet; */
}

.item:hover {
    /* text-shadow: 0 0 6px rgb(109, 209, 212); */
    cursor: pointer;
}

.item:active {
    text-shadow: 0 0 6px rgb(161, 245, 7);
}

.active {

    text-shadow: 0 0 10px rgb(161, 245, 7);
}