.sidebar {
    color: rgb(43, 231, 168);
    grid-area: s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0px 0px 5px cyan;
    ;

}



li {

    list-style-type: square;
}