.header-site-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(113, 202, 202);
    grid-area: h;
    border-radius: 5px;
    box-shadow: 0px 0px 5px cyan;
    background-color: aliceblue;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.header-content {
    padding-left: 15px;
    padding-right: 5px;
}

.header-img {
    padding-top: 5px;
}