.users,
.aboutUsers,
.error {
    grid-area: m;

    border-radius: 5px;
    box-shadow: 0px 0px 5px cyan;
    background-color: aliceblue;

}

/* .aboutUsers {
    display: flex;
    flex-direction: row;
} */

.cats_main {
    display: flex;
    justify-content: center;
}

.cats_main img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid cyan;
}