:root {
    --cadmiumyellow: #fff600;
}


body {
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(70, 42, 42);
    /* color: var(--cadmiumyellow); */
    background: linear-gradient(900deg, rgb(52, 146, 223) 10%, cadetblue 90%);
    /* background-color: brown; */
}

.container {
    max-width: 1100px;

    /* background-color: rgb(233, 233, 233); */
    margin: 0 auto;
    display: grid;


    grid-template-areas:
        'h h h'
        'm m s'
        'f f f';
    row-gap: 1%;
    column-gap: 1%;

}


/* h1,
h2,
h3 {
    padding-left: 8px;
    padding-right: 8px;
} */

p {
    /* padding-left: 8px;
    padding-right: 8px; */
    text-align: justify;
}