:root {
    --cadmiumyellow: #fff600;
    --basedbackground: linear-gradient(170deg, cadetblue 10%, rgb(50, 139, 212) 80%);
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(70, 42, 42);
    background: var(--basedbackground);
    /* background: linear-gradient(170deg, cadetblue 10%, rgb(50, 139, 212) 80%); */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
        'h h h'
        'm m s'
        'f f f';
    gap: 10px;
}

p {
    text-align: justify;
}

a {
    color: rgb(76, 123, 126);
    font-weight: 500;
}

.active {
    color: rgb(255, 255, 255);
    background: cadetblue;
}

::-webkit-scrollbar {
    width: 7px;
    /* background: var(--basedbackground); */
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 74, 78);

}