.main {
    grid-area: m;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0px 0px 5px cyan;
    background-color: aliceblue;
}

.rocks-main img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border-radius: 5px; */
    border-bottom: 1px solid cyan;

}

section {
    padding: 0 18px;
}

section:last-child {
    padding-bottom: 15px;
}

textarea {
    max-width: 400px;
}