.main {
    grid-area: m;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0px 0px 5px cyan;
    background-color: aliceblue;
    /* text-align: center; */
}

section {
    padding: 0 15px;
}

section:last-child {
    padding-bottom: 15px;
}


/* .main>a {
    padding-left: 8px;
    color: rgb(0, 255, 64);
} */