.userInfo {
    width: 40%;
    background-color: rgb(255, 255, 255);
    border: 1px double gainsboro;
    box-shadow: 0 0 8px 2px rgb(141, 141, 141);
    border-radius: 5px;
    padding: 5px;
}

.like {
    /* width: 200px; */
    padding: 5px 10px;
    margin-left: 5px;
    /* border: 1px double cyan; */
    border: none;
    /* box-shadow: 0 0 1px 1px cyan; */
    background: linear-gradient(170deg, rgb(84, 228, 149) 10%, rgb(46, 128, 196) 80%);
    /* background: 170deg, cadetblue 10%, rgb(50, 139, 212) 80%; */

}

.likeOmeter {
    color: rgb(13, 170, 21);
    text-shadow: 0px 0px 3px rgb(9, 255, 0);
}